<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Mue bot</title>
    <script src="./js/jquery-3.2.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <!--script src="./js/vue.js"></script-->
    <link rel="stylesheet" href="./css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./css/extra.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"/>
    <link rel="stylesheet" href="./css/style.css"/>
</head>
<body>
<div class="container">
</div>
<div class="container" style="margin: 0px auto;">
    <div id="main">
        <h1>My new bot</h1>
		
        <!--button id="stopProcess" v-on:click="stopEverything" class="d-none btn btn-default col-2 offset-2 row">Stop the process</button-->
		<!-- TradingView Widget BEGIN  see https://www.tradingview.com/widget/advanced-chart/ -->
        <div id="logs" class="d-none">
            <p class="col-10 info d-none row">
            </p>
            <p class="col-10 errors row d-none">
            </p>
        </div>
		<div id="tradingview">
			<% include tradingview.ejs %>
			<hr>
		</div>	
		<div>
			<h6>Order Book</h6>
			<table id="orderbook_table" class="table table-hover table-dark text-center">
				<thead>
					<tr>
						<th scope="col">Total</th>
						<th scope="col">Size</th>
						<th scope="col">Bid</th>
						<th scope="col"></th>
						<th scope="col">Ask</th>
						<th scope="col">Size</th>
						<th scope="col">Total</th>
					</tr>
				</thead>
				<tbody id="orderbook_body">
					<tr>
						<td>12</td>
						<td>14</td>
						<td class="green_td">0.004</td>
						<td></td>
						<td class="red_td">0.005</td>
						<td>23</td>
						<td>4534</td>
					</tr>
				</tbody>		
			</table>
		</div>	
		<div>
			<h6>Market History</h6>
		<div>
			<h6>My open orders</h6>
		</div>	
		<div>
			<h6>My orders history</h6>
		</div>				
		<div>
			<h6>My balance</h6>
			<table id="balance" class="table table-hover table-dark text-center">
				<thead>
					<tr>
						<th scope="col">Currency</th>
						<th scope="col">Balance</th>
						<th scope="col">Availlable</th>
						<th scope="col">Pending</th>
					</tr>
				</thead>
				<tbody id="balance_body">
					<tr>
						<td>BTC</td>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					<tr>
						<td>MUE</td>
						<td>5500</td>
						<td>5500</td>
						<td>0</td>
					</tr>
				</tbody>		
			</table>
		</div>				
	</div>
	<hr>
	<form class="col-2 offset-5 row">
		<div class="form-group">
		<label for="newTicker" style="color:white">Select another ticker</label>
		<select class="form-control" id="newTicker">
			<option value='MUE/BTC' selected>MUE</option>
			<option value="ABY/BTC">ABY</option>
			<option value="ADT/BTC">ADT</option>
			<option value="ADA/BTC">ADA</option>
		</select>
		</div>
		<button id="startNewBot" onclick="startBot" class="btn btn-default">Start another ticker</button>
	</form>
	<hr>
	<button id="backtest" onclick="startBacktest" class="btn btn-default col-2 offset-5 row">Start backtest</button>
</div>
<!--script src="./js/main.js"></script-->
</body>
</html>






















