<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_e7b87"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BITTREX-MUEBTC/" rel="noopener" target="_blank"><span class="blue-text">MUEBTC chart</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 1200,
  "height": 610,
  "symbol": "BITTREX:MUEBTC",
  "interval": "1",
  "timezone": "Etc/UTC",
  "theme": "Dark",
  "style": "1",
  "locale": "en",
  "toolbar_bg": "rgba(216, 216, 216, 1)",
  "enable_publishing": false,
  "withdateranges": true,
  "allow_symbol_change": true,
  "details": true,
  "studies": [
    "BB@tv-basicstudies"
  ],
  "show_popup_button": false,
  "popup_width": "1000",
  "popup_height": "650",
  "container_id": "tradingview_e7b87"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->