body{
  background-color: #2B3441!important;
}
#main {
  padding-top: 4%;
  font-family: 'Open Sans', sans-serif;
}
.centerTable {
 margin: 0px auto;
}
td {
  padding: 5px;
  text-align: center;
}
.green_td {
  color: green;
}
.red_td {
  color: red;
}
#tradingview {
  margin-top: 25px;
}
#main h1, h2, h6 {
  text-align: center;
  margin-bottom: 20px;
}
#main h1 {
	color: #ffffff;
	font-weight: 900;
}
#main  h2, h6 {
	color: #ffffff;
}
#main  hr {
  margin-bottom: 15px;
}
#exchange-selector {
  padding-top: 2%;
}

.toggle_div {
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
}

#logs .errors {
  background-color: rgba(223, 64, 70, 0.46);
  border-radius: 5px;
  padding: 20px 10px 20px 10px ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
#logs .info {
  background-color: rgba(152, 251, 152, 0.36);
  border-radius: 5px;
  padding: 20px 10px 20px 10px ;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  color: #000;
  margin: 10px 0 10px 0;
}

label span {
  background-color: #89bdd3;
  color: #323232;
  border-radius: 4px;
  padding: 4px 8px 4px 8px;
}

:checked + span {
  background-color: #fae596;
  color: #323232;
  padding: 4px 8px 4px 8px;
}
